*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card1{
    background-color: skyblue;
    height: 200px;
    width: 300px;
    padding: 10px 20px 5px 7px;
}

.card2{
    background-color: lightgreen;
    height: 200px;
    width: 300px;

    padding: 10px 20px 5px 7px;

    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 15px;

    border: 10px solid green;
}

.card3{
    height: 200px;
    width: 300px;
    border: 5px solid red;
    background-color: antiquewhite;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px 20px;
    border-top-left-radius: 40px;

}

.card4{
    height: 200px;
    width: 300px;
    border: 2px solid black;
    background-color: blueviolet;
    margin-left: 20px;
    
}

