.anchors{
    text-align: center;
    word-spacing: 50px;
}

h1{
    text-align: center;
}
#img{
    height: 350px;
    border-radius: 40px;
    margin-top: 50px;
    margin-left: 50px;
}

p{
    font-size: 20px;
}