*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background: linear-gradient(to right top,black,red);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.outer>h1{
    position: absolute;
    top: 60px;
    text-transform: capitalize;
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;

    border-right: 1px solid white;
    /* border: 2px solid white; */
    animation: typing 3s steps(20) infinite;
    white-space: nowrap;
    overflow: hidden;
    
}
.outer> .card{
    height: 300px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s;
}

.outer> .card:hover{
    transform: translateY(-10px);
}

.outer> .card> img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.outer> .card> h2{
    text-align: center;
    margin-top: 20px;
}

@keyframes typing {
    0%{
        width: 0;
    }
    50%{
        width: 18ch;
    }
    100%{
        width: 0;
    }
}