*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    background-color: red;
    /* margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 520px;
    margin-right: 550px; */
    border-radius: 20px;
    padding: 20px 40px;
    text-align: center;
    margin:30px auto;
    width: 30%;
    
}


.box > img{
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    
}
.box > h1{
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.box > h3{
    color: white;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 2px;
}

.box > p{
    color: white;
    font-style: italic;
    margin-top: 10px;
    text-align: center;
}

.box > button{
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding: 10px 10px;
    font-weight: 600;
    cursor: pointer;

}

.box > button:hover{
    background-color: chocolate;
}