*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    font-size: 18px;
    text-transform: uppercase;
}

.main{
    height: 250px;
    background-color: rgb(16, 166, 225);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.main > h1{
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 60px;
}

.main > p{
    margin-bottom: 10px;
    text-transform: capitalize;

}

.main > button{
    margin-top: 20px;
    padding: 15px 40px;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

section{
    height: calc(100vh - 330px);
    background-color: orangered;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

section > .card{
    height: 300px;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 3px 2px black;
    text-align: center;
    overflow: hidden;
}

section > .card > img{
    width: 100%;
    height: 50%;


}
