*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    background-color: skyblue;
    height: 100vh;
    padding: 80px 60px;
    
}

.background > .signup {
    background-color: white;
    width: 400px;
    margin: 20px auto;
    padding: 20px 40px;

}

.background > .signup > h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue' ;
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
}

.background > .signup > p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 14px;
}

.background > .signup > form > label{
    font-weight:  bold;
    letter-spacing: 2px;
}

.background > .signup > form > input{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    
}

.background > .signup > form > button{
    color: white;
    width: 100%;
    padding: 10px 40px;
    background-color: rgb(22, 176, 228);
}

.background > .signup > p > a{
    text-decoration: none;
    color: blue;
}


