*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: skyblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease;
}

.image{
    height: 300px;
    width: 250px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    transition-duration: 2s;
}

.inner:hover{
    transform: translateX(-300px);
}

.image > img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.image:hover{
    transform: scale(1.05);
}

