*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

.outer > .inner{
    background-color: brown;
    width: 95%;
    height: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.card{
    background-color: white;
    height: 300px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 5px 5px 2px black;
    cursor: pointer;
    transition: all 3s ease-in-out;
}

.card:hover{
    /* transform: translateX(200px); */
    /* transform: rotate(360deg); */
    /* transform: scale(1.3); */
    transform: skew(35deg);
}