*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer > .inner{
    background-color: white;
    width: 300px;
    height: 400px;
    padding: 10px;
    text-align: justify;
    overflow: auto;
    border-radius: 10px;
}

.inner > h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-style: dashed;

}

.inner > h3{
    text-align: center;
    /* display: none; */
    visibility: hidden;
}
.inner > p{
    font-size: 18px;
}

::-webkit-scrollbar{
    display: none;
}