.card1{
    background-color: skyblue;
    height: 200px;
    width: 300px;
}

.card2{
    background-color: blueviolet;
    height: 200px;
    width: 300px;
}

.card1 h1{
    color: white;
    text-align: center;
}
.card2 h1{
    color: green;
    text-align: center;
}

.card3{
    height: 200px;
    width: 300px;
    background-color: yellowgreen;
}

.card3 .box{
    height: 120px;
    width: 250px;
    background-color: aqua;
}

.card3>h2{
    color: red;
}

.card3 .box h2{
    color: yellow;
}
