*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    background-color: chocolate;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 50%;
    width: 65%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inner > p{
    font-size: 34px;
    letter-spacing: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: moveSlide 3s ease-in-out infinite alternate ;
}

.inner > .name1 {
    animation-delay: 0s;
}
.inner > .name2 {
    animation-delay: 0.3s;
}
.inner > .name3 {
    animation-delay: 0.5s;
}
.inner > .name4 {
    animation-delay: 0.7s;
}
.inner > .name5 {
    animation-delay: 0.9s;
}
.inner > .name6 {
    animation-delay: 1s;
}




@keyframes moveSlide {
    from{
        transform: translateY(-100px);
        
    }to{
        transform: translateY(100px);
    }
}

