*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 50px;
    background-color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav> h1{
    color: white;
    font-size: 28px;
    letter-spacing: 2px;
}

nav> ul{
    color: white;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    font-size: 28px;
    text-transform: uppercase;
}

header{
    height: 200px;
    background-color: black;
}

header> h1{
    color: white;
}

main{
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
}

.card{
    height: 300px;
    width: 400px;
    background-color: white;
    box-shadow: 1px 1px 3px 1px black;
    border-radius: 10px;
}

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: black;
}

footer> h1{
    color: white;

}

@media (max-width:800px){
    header{
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header> h1{
        color: black;
    }

    main{
        flex-direction: column;
        height: 650px;
    }

    main> .card{
        width: 80%;
    }

}

@media (min-width:600px) and (max-width:700px) {
    
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 250px;
    }

    nav> ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

