#outer{
    background-color: brown;
    height: 100vh;
    width: 100vw;
    position: relative;
}
#middle{
    /* position: relative; */
}


#inner{

    /* position: relative; */
}

#target{
    position: absolute;
    background-color: black;
    height: 100px;
    width: 100px;
    top: 20% ;
    left: 20%;
}
