*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    height: 100vh;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
    background: transparent;
}

.card{
    height: 200px;
    width: 300px;
    background-color: white;
    position: relative;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card > .image{
    position: absolute;
    border-radius: 50%;
    left: 38%;
    bottom: 80%;
    overflow: hidden;
    border: 2px solid white;
}

.card > .image > img{
    border-radius: 50%;
}

.card > h2{
    text-transform: capitalize;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}

.card > p{
    text-transform: capitalize;
    color: gray;
    margin-bottom: 20px;
}

.card > button{
    text-transform: capitalize;
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
    background-color: rgb(105, 88, 255);
    color: white;
}
