*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav > ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

.nav > ul> a{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.nav > .btn> button{
    padding: 10px 8px;
    border-radius: 10px;
    background-color: darkred;
    color: white;
    border: none;
}

.main{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
         /* padding: 20px 60px; */

}

.main> .right{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 300px;
    
}

.main> .right > .circle{
    width: 400px;
    height: 400px;
    border: 2px solid darkred;
    border-radius: 50%;
    background-color: darkred;
    position: absolute;
    right: 0;
    left: -310px;
    top: -150px;
}

.main > .right> img{
    position: absolute;
    left: -310px;
    height: 450px;
    top: -190px;
}

.main > .left{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main> .left> h1{
    font-size: 64px;
    animation: moveup 2s ease-in  infinite;
}

.main> .left> h1> span{
    color: goldenrod;
    font-style: italic;
}

.main> .left> p{
    font-size: 18px;
    text-transform: capitalize;
}
.main> .left> button{
    padding: 10px 8px;
    width: 30%;
    border: none;
    background-color: darkred;
    border-radius: 10px;
    color: white;
    text-transform: capitalize;
    word-spacing: 2px;
}


@keyframes moveup {
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    20%{
        transform: translateY(0);
        opacity: 1;
    }
    80%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-50px);
        opacity: 0;
    }
}

