*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.background{
    height: 100vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 80%;
    width: 80%;
    background-color: #F5F5F5;
    border-radius: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 20px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
}

nav > div > button{
    padding: 10px 15px;
}

nav > div > #signin{
    background-color: skyblue;
}

nav > div > #join{
    background: transparent;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100% ;
    padding: 1.1rem 6rem;
    gap: 1rem;

}

.left {
    width: 50%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.left > p{
    text-align: justify;

}

.right{
    width: 50%;
}
.right > img{
    height: 400px;
    width: 100%;
}

#ip{
    margin-top: 1rem;
}
#ip>input{
    width: 60%;
    padding: 0.7rem;
}
#ip>button{
    padding: 0.7rem;
    background-color: blue;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px;
}

.footer > .ques{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer > .ques > .image{
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
}

.footer > #social{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

