*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background: linear-gradient(to right top,black,red);
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.outer> .box{
    border: 2px solid white;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer> #box1{
    grid-column: span 3;
}

.outer> #box3{
    grid-column: span 2;
}
.outer> #box2{
    grid-row: span 2;
}
.outer> #box8{
    grid-row: span 2;
}