*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background: linear-gradient(to right, red,orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    width: 80%;
    height: 80%;
    background-color: white;
}

.inner > .box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.inner > #box1{
    width: 60px;
    height: 60px;
    background-color: green;
    
}

.inner > #box2{
    width: 70px;
    height: 70px;
    background-color: gray;
}
.inner > #box3{
    width: 80px;
    height: 80px;
    background-color: blue;
}
.inner > #box4{
    width: 90px;
    height: 90px;
    background-color: lightblue;
}
.inner > #box5{
    width: 100px;
    height: 100px;
    background-color: lightcoral;
}