*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 60px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.left > h1{
    color: rgb(0, 42, 255);
    font-weight: bold;
    text-align: center;
    font-size: 34px;
    font-family: 'Helvetica Neue', sans-serif;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right > form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 10px 7px -5px black;
}

.right > form > input{
    padding: 10px 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 2px solid lightgrey ;
}

.right > form > #login{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.right > form > a{
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(0, 115, 255);
    margin-bottom: 10px;
}

.right > form > .line{
    margin-bottom: 10px;
    border: 0.6px solid black;
    /* border-style:double; */
}

.right > form > #create{
    padding: 10px 1px;
    color: white;
    text-transform: capitalize;
    background-color: green;
    border-radius: 10px;
}

.right > p > span{
    font-weight: bold;
    text-transform: capitalize;
}