*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background: linear-gradient(to left, darkred,red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    width: 400px;
    height: 400px;
    background-color: white;
    display: flex;
    position: relative;
    border-radius: 20px;
}

.circle{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    animation: movingCircle 3s linear infinite;
}

@keyframes movingCircle {
    0%{
        background-color: blue;
        transform: translate(0,0);
    }
    25%{
        background-color: blueviolet;
        transform: translate(300px,0);
    }
    50%{
        background-color: red;
        transform: translate(300px,300px);
    }
    75%{
        background-color: aqua;
        transform: translate(0,300px);
    }
    100%{
        background-color: blue;
        transform: translate(0,0);
    }
}